html {
    overflow: hidden;
  }
  
  h1,
  h2,
  h3 {
    font-weight: normal;
  }
  /** SCROLLBAR */
body * {
    scrollbar-width: thin; /* "auto" или "thin"  */
    scrollbar-color: #b0bec5 white; /* плашка скролла и дорожка */
  
    /* для Chrome/Edge/Safari */
    *::-webkit-scrollbar {
      height: 12px;
      width: 12px;
    }
    *::-webkit-scrollbar-track {
      background: white;
    }
    *::-webkit-scrollbar-thumb {
      background-color: #b0bec5;
      border-radius: 5px;
      border: 3px solid white;
    }
  }
  /** END SCROLLBAR */