<script setup lang="ts">
import { computed, ref, watch } from "vue";
import { useAccidentStore } from "@/modules/fireAccident/store/accident";
import type { FireAccident } from "@/modules/fireAccident/store/accident.types";

// =========== Variables:
const store = useAccidentStore();
const columns: any = [
  {
    name: "name",
    label: "Название территории",
    align: "center",
    field: "name",
  },
  {
    name: "coordinate",
    label: "Центральная точка территории",
    align: "center",
    field: "coordinate",
  },
  {
    name: "burnedPolygon",
    label: "Территория, пострадавшая в результате пожара",
    align: "center",
    field: "burnedPolygon",
  },
  {
    name: "burnedArea",
    label: "Площадь, пострадавшей в результате пожара, территории",
    align: "center",
    field: "burnedArea",
  },
  {
    name: "hazardCategory",
    label: "Категория ущерба",
    align: "center",
    field: "hazardCategory",
  },
];

const search = ref("");
const sortOrder = ref<"asc" | "desc">("asc");
const countPerPage = ref(2);
const selectedPage = ref(1);
const itemsCount = ref(store.accidentList.length);
// =========== Variables/
// ========== Watch
watch(() => search.value, () => {
  selectedPage.value = 1;
})

// =========== Methods:
/**валидатор для поиска*/
const checkCategory = (val: string | null) => {
  if (!val || val.length === 0) return true;
  const msg = "Допустимые значения от 1 до 6";
  const num = Number(val);
  if (!num) return msg;
  if (num < 1) return msg;
  if (num > 6) return msg;
  if (!Number.isInteger(num)) return msg;
  return true;
};
function onRowClick(_: any, accident: FireAccident) {
  store.selectedAccident = [accident];
}
function cancel() {
  store.selectedAccident = [];
}
function sortByCategory() {
  store.accidentList.sort((acc1, acc2) => {
    if (sortOrder.value === "asc") {
      return acc1.hazardCategory - acc2.hazardCategory;
    } else {
      return acc2.hazardCategory - acc1.hazardCategory;
    }
  });
  sortOrder.value = sortOrder.value === "asc" ? "desc" : "asc";
}
function setPage(page: number) {
  selectedPage.value = page;
}
function getPartOfList<T>(list: T[]): T[] {
  itemsCount.value = list.length;
  const end = selectedPage.value * countPerPage.value;
  const start = end - countPerPage.value;
  return list.slice(start, end);
}
// =========== Methods/

// =========== Getters:
/**
 Список полигонов для выбранной страницы.
 По умолчанию на странице не более двух полигонов
 */
const list = computed(() => {
  const filteredList = store.accidentList.filter((acc) => {
    if (search.value) {
      return acc.hazardCategory === Number(search.value);
    }
    return true;
  });
  store.accidentPerPage = getPartOfList(filteredList);
  return store.accidentPerPage;
});
const pageCount = computed(() => {
  if (!itemsCount.value) return 0;
  return Math.ceil(itemsCount.value / countPerPage.value);
});
const sortIcon = computed(() => {
  if (sortOrder.value === "asc") return "mdi-sort-reverse-variant";
  return "mdi-sort-variant";
});
const isDisable = computed(() => {
  return Boolean(store.selectedAccident.length);
})
</script>

<template>
  <div class="row justify-between items-center">
    <div class="row items-center">
      <q-input dense outlined v-model.trim="search" label="категория ущерба" clearable style="width: 200px"
        class="q-mt-md" :rules="[checkCategory]">
        <template v-slot:prepend>
          <q-icon name="search" />
        </template>
      </q-input>
      <q-btn class="q-ml-md align-center" push color="primary" round :icon="sortIcon" size="sm" @click="sortByCategory">
        <q-tooltip anchor="center right" self="center left" :offset="[10, 10]">
          <span style="font-size: 14px">сортировать по
            {{ sortOrder === "asc" ? "возрастанию" : "убыванию" }} категории
            ущерба</span>
        </q-tooltip>
      </q-btn>
    </div>
    <q-btn push color="primary" label="Отменить выделенное" class="align-center" :disable="!isDisable" @click="cancel" />
  </div>
  <q-table class="q-mt-sm" style="height: auto" @row-click="onRowClick" flat hide-bottom :rows="list" :columns="columns"
    row-key="name" virtual-scroll :rows-per-page-options="[0]" color="primary" id="qtable" selection="single"
    v-model:selected="store.selectedAccident">
    <template v-slot:body-cell-coordinate="props">
      <q-td :props="props">
        <div class="" v-for="latlon in props.value" :key="latlon">
          {{ latlon }}
        </div>
      </q-td>
    </template>
    <template v-slot:body-cell-burnedPolygon="props">
      <q-td :props="props" style="width: 100px">
        <div class="latlon-list" v-for="latlon in props.value" :key="latlon">
          {{ latlon }}
        </div>
      </q-td>
    </template>
  </q-table>
  <div class="pagination row justify-center q-mt-md" v-if="pageCount">
    <q-btn @click="setPage(page)" round size="sm" class="q-mx-sm" :class="page === selectedPage ? 'active' : ''"
      v-for="page in pageCount" :key="page">{{ page }}</q-btn>
  </div>
</template>
<style scoped>
.latlon-list {
  font-size: 10px;
}

.active {
  background: #1976d2;
  color: white;
}
</style>
