<script lang="ts" setup>
import { ref, computed } from "vue";
import { useAccidentStore } from "../store/accident";
import { LMap, LTileLayer } from "@vue-leaflet/vue-leaflet";
import * as L from "leaflet";
import firePolygon from "./fire-polygon.vue";

const zoom = ref(8);
const store = useAccidentStore();
const lmap = ref<L.Map>();
const tileInfo = ref<{ url: string; name: string }>({
  name: "osm",
  url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
});
/**
 * Объект карты часто пригождается при более сложных манипуляциях.
 * Из документации по leaflet:
 * invalidateSize( <Boolean> animate )
 * ...call it after you've changed the map size dynamically, also animating pan by default
 */
function onMapReady(map: L.Map) {
  lmap.value = map;
  setTimeout(() => {
    map.invalidateSize();
  }, 300);
}

const list = computed(() => {
  if (store.selectedAccident.length) return store.selectedAccident;
  return store.accidentPerPage;
});

const center = computed(() => {
  if (!list.value[0]) return [46.71322, 2.319482];
  return list.value[0].coordinate;
});
</script>

<template>
  <div class="accident-map" v-if="store.accidentList.length">
    <l-map
      v-if="center"
      ref="map"
      zoomAnimation
      inertia
      :inertiaDeceleration="3000"
      :inertiaMaxSpeed="1500"
      v-model:zoom="zoom"
      :max-zoom="19"
      :center="center"
      @ready="onMapReady"
    >
      <l-tile-layer
        :url="tileInfo.url"
        layer-type="base"
        :name="tileInfo.name"
      ></l-tile-layer>
      <fire-polygon
        v-for="acc in list"
        :key="acc.name"
        :name="acc.name"
        :area="acc.burnedArea"
        :poligon="acc.burnedPolygon"
        :category="acc.hazardCategory"
      />
    </l-map>
  </div>
</template>

<style scoped>
.accident-map {
  height: 100%;
}
</style>
