<script lang="ts" setup>
import { computed } from "vue";
import { LPolygon, LPopup } from "@vue-leaflet/vue-leaflet";

const props = defineProps<{
  poligon: [number, number][];
  category: number;
  name: string;
  area: number;
}>();

const color = computed(() => {
  if (!props.category) return "blue";
  return `rgba(255, 0, 0, ${(10 - (6 - props.category)) / 10})`;
});
</script>

<template>
  <l-polygon
    v-if="props.poligon"
    :lat-lngs="props.poligon"
    :color="color"
    :fill="true"
    :fillColor="color"
  >
    <l-popup class="map-popup">
      <div class="">Название: {{ props.name }}</div>
      <div class="">Площадь: {{ props.area }}</div>
    </l-popup>
  </l-polygon>
</template>

<style>
.map-popup.leaflet-popup-content-wrapper {
  width: 170px;
}
</style>
