<script setup lang="ts">
import { RouterView, useRouter } from "vue-router";
import { onBeforeMount } from "vue";

const router = useRouter();

onBeforeMount(() => router.push("/accident"));
</script>

<template>
  <RouterView />
</template>

<style scoped></style>
