<script setup lang="ts"></script>

<template>
  <q-layout style="height: 100vh" view="lHh lpr lFf" container class="shadow-2">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title>
          <span style="font-weight: 300">Информация о пожарах</span>
        </q-toolbar-title>
        <q-tabs>
          <q-route-tab label="O приложении" to="/" exact />
          <q-route-tab label="Данные о пожарах" to="/accident" exact />
        </q-tabs>
      </q-toolbar>
    </q-header>
    <q-page-container>
      <div class="q-pa-md">
        <slot>BODY SLOT</slot>
      </div>
    </q-page-container>
  </q-layout>
</template>
