<script lang="ts" setup>
import { onBeforeMount, ref } from "vue";
import { useAccidentStore } from "./store/accident";
import accidentMap from "./components/accident-map.vue";
import accidentTable from "./components//accident-table.vue";

const store = useAccidentStore();
const pending = ref(false);

onBeforeMount(async () => {
  pending.value = true;
  await store.readAccidentList();
  // имитация задержки http-запроса
  setTimeout(() => {
    pending.value = false;
  }, 1000);
});
</script>

<template>
  <app-layout>
    <template v-if="pending">
      <q-linear-progress indeterminate />
    </template>
    <template v-if="!pending && store.error">
      <q-banner dense class="text-white bg-red">
        {{ store.error }}
      </q-banner>
    </template>
    <template v-if="!pending && !store.error">
      <div class="" style="height: 50vh">
        <accident-map />
      </div>
      <div style="height: calc(50vh - 100px)">
        <accident-table />
      </div>
    </template>
  </app-layout>
</template>

<style scoped></style>
